<%= content_tag "div", "", id: 'player_collection', data: { players: @game.players} %>

<h1><%= @game.title %></h1>
<h3>Owner: <%= @game.user.username %></h3>
<section>
  <article>
    <ul>
      <li>Start: <%=@game.start.strftime("%a #{@game.start.day.ordinalize} %b")%></li>
      <li>Finish: <%=@game.finish.strftime("%a #{@game.finish.day.ordinalize} %b") %></li>
      <li>Entries in by: <%=@game.entries_close.strftime("%a #{@game.entries_close.day.ordinalize} %b") %></li>
      <li>Players: <%=@game.players.count %></li>
    </ul>
  </article>
  <article>
    <h2>Players</h2>
    <% if @game.players.empty? %>
      <p>You dont have any players yet, go get some! <%= link_to "Add/invite player", new_game_player_path(@game.id)%></p>
    <% else %>
      <ul class='thumbnails', id="players">
      <% @game.players.each do |player| %>
        <li id=<%=player.id%>>
          <img class="img-rounded" src="http://robohash.org/<%= player.name %>.jpg?size=150x150&bgset=bg2&set=set3" alt="" />
          <div class="thumbnail">
            <p><%= player.name %></p>
            <p>Role: <%=player.role %></p>
          </div>
        </li>
        <%end%>
      </ul>
    <% end %>
  </article>
  <%= link_to "back", root_path %>
</section>