<h1>Join : <%= @game.title %></h1>

<section>
  <%= form_for @player, :url => game_players_path(@game) do |f| %>
    <%= f.label :name %><%= f.text_field :name %>
    <%= f.label :email %><%= f.email_field :email %><br/>
    <%= f.submit "Join" %>
  <% end %>
</section>